*{
    margin: 0;
    padding: 0;
}

p{
    display: flex;
    align-items: center;
    color: red;
    font-size: large;
}
#increase{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 2px;
    background-color: green;
}

#decrease{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 2px;
    background-color: red;
}